/* COMMON STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;;
}

:root {
    --inner-shadow-height: 10px;
}

.container {
    position: relative;
    width: 1400px;
    margin: 0 auto;

    /* border: 1px solid green; */
}

/* COMMON STYLES - FORMATTING */

.inline-block {
    display: inline-block;
}

.w-2 {
    width: 20px;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.h2 {
    font-size: 3rem;
}

.mt-4 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}


.flex-start {
    justify-content: start;
}

.flex-center {
    justify-content: center;
}

.flex-around {
    justify-content: space-around;
}

.flex-end {
    justify-content: end;
}

.flex-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: end;
}

/* NAV */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;

    transform: translateX(-100%);
	transition: transform .6s ease-in-out;
}

.nav--active {
    transform: translateX(0);
}

.nav-items-container {
	width: 100%;
	height: 100%;
	background-color: rgba(89, 89, 89, 0.6);
	backdrop-filter: blur(10px);
}

.nav-items-list {
    height: 80%;
}

.nav-items-list li {
	position: relative;
	list-style: none;
	transform: translateX(0);
	transition: transform ease-in 0.5s;
}

.nav-items-list li .hidden {
	transform: translateX(-100%);
}

.nav-items-list li a {
	color: #fff;
	font-size: 5rem;
    font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-items-list li:hover a {
	color: rgb(163, 163, 163);
}

.nav-items-list li::before {
	content: "";
	position: absolute;
	left: -2rem;
	top: 0;
	height: 100%;
	width: 4px;
	background-color: goldenrod;
	transform: scaleY(0);
	transition: transform 0.3s;
}

.nav-items-list li:hover::before {
	transform: scaleY(1);
}

/* HEADER */

.first-screen {
    position: relative;
    height: 85vh;
    background-color: #fff;
    background-image: url('../img/church2.jpg');
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
    filter: saturate(.6);
}

.header-animation {
    position: relative;
}

.arrow {
    position: absolute;
    transform: rotate(90deg);
    font-size: 5rem;
    animation: header-arrows 1.4s linear infinite;
    text-shadow: 5px 5px 10px rgb(37, 37, 37);
}

.arrow a {
    position: relative;
    color: #ffffffe0;
    text-decoration: none;
    overflow: hidden;
}


.header {
    position: sticky;
    height: 10vh;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

.header__circle {
    position: absolute;
    top: -70px;
    width: 160px;
    height: 160px;
    border-radius: 50%;

    border: 10px solid #fff;

    background-image: url('../img/st_Joseph.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 10px 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 20px -20px;
}

h1 {
    position: relative;
    left: 40px;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 5px;
    color: #333;
}

@keyframes header-arrows {
    0% {
        bottom: 10px;
    }
    
    25% {
        bottom: 15px;
    }
    
    50% {
        bottom: 10px;
    }
    
    75% {
        bottom: 0px;
    }
    
    100% {
        bottom: 10px;
    }
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

/* SECTIONS */

section {
    position: relative;
    padding: 60px 0;
    min-height: 40vh;
}


.inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--inner-shadow-height);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    z-index: 1;
}

.inner::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--inner-shadow-height);
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.section-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-text {
    position: relative;
    width: fit-content;
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    max-width: 60%;

    /* border: 1px solid orange; */
}

.section-text h3 {
    margin-bottom: 40px;

    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 5px;

}

.section-text p
,.section-text ul {
    font-size: 2.5rem;
}

.section-text ul li {
    list-style: none;
    margin-left: 20px;
    padding: 20px 0 0 0;
}

.title {
    font-size: 3rem;
}

/* SECTIONS - NEWS */

.news {
    background-color: #e7e7e7;
}

.news ul li {
    position: relative;
    font-size: 2rem;
    margin-top: 15px;
    margin-left: 20px;
    list-style: none;
    line-height: 3rem;
}

/* SECTIONS - HOLY MASSES */

.holy-masses {
    background-image: url('../img/holy_mass.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -25vw 0;
}

.section-hero--holy-masses {
    background-image: linear-gradient(to right,
        rgba(134, 34, 34, 0.05), rgb(134, 34, 34) 40%
        ,rgb(134, 34, 34) 40%);
}

.holy-masses .section-text p {
    font-size: 2rem;
}

/* SECTIONS - SERVICES */

.services {
    background-image: url('../img/services.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 45vw 0;
}

.section-hero--services {
    background-image: linear-gradient(to left,
        rgba(34, 57, 134, 0.05), rgb(34, 57, 134) 40%
        ,rgb(34, 57, 134) 40%);
}

/* SECTIONS - CONFESSION */

.confession {
    background-image: url('../img/confession.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-hero--confession {
    background-image: linear-gradient(to right,
        rgba(87, 34, 134, 0.05), rgba(87, 34, 134) 40%
        ,rgba(87, 34, 134) 40%);
}

/* TECHNICAL */

.break {
    position: absolute;
    border-left-width: 1px;
    border-left-color: red;
    border-right-width: 1px;
    border-right-color: red;
    height: 500vh;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);

    display: none;
}

.break-1400 {
    width: 1400px;
    border-left-style: solid;
    border-right-style: solid;
}

.break-1200 {
    width: 1200px;
    border-left-style: solid;
    border-right-style: solid;
}

.break-992 {
    width: 992px;
    border-left-style: solid;
    border-right-style: solid;
}

.break-576 {
    width: 576px;
    border-left-style: solid;
    border-right-style: solid;
}